<launch>

	<!-- Joysticks Drivers -->
	<node pkg="joy" type="joy_node" name="IME_SLAM_Joy_Driver">
	<param name="dev"	type="str"	value="/dev/input/js0"/>
	</node>
	<node pkg="ime_teleop_control" type="joy_p3dx_cmd_vel" name="IME_SLAM_Teleop_Node"/>
	
	<!-- P3DX Platform Driver -->
	<node pkg="ROSARIA" type="RosAria" name="IME_SLAM_P3DX_rosaria">
		<param name="port"       type="str" value="/dev/ttyUSB0"/>
		<param name="~tf_prefix" type="str" value="Pioneer3DX"  />
		<remap from="~pose"         to="/pioneer3dx/pose" />
    	<remap from="~sonar"        to="/pioneer3dx/sonar" />
    	<remap from="~cmd_vel"      to="/pioneer3dx/cmd_vel" />
    	<remap from="~bumper_state" to="/pioneer3dx/bumper_state" />
	</node>
		
</launch>