<launch>

	<node pkg="gazebo_ros" type="gazebo" name="gazebo" 
	      args="$(find ime_simulation)/config/gazebo/wg_world_p3dx.sdf"/>

<!--	
	  <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="Pioneer3DX_rqt_teleop">
	  <param name="default_topic" type="str" value="/pioneer3dx_gazebo/cmd_vel" />
	  <param name="default_vx_max" type="double" value="0.8" />
	  <param name="default_vx_min" type="double" value="-0.8" />
	  <param name="default_vw_max" type="double" value="1.5" />
	  <param name="default_vw_min" type="double" value="-1.5" />
	</node>
-->
	
	<node pkg="image_view" type="image_view" name="Pioneer3DX_rgb_image">
		<remap from="image" to="/camera/rgb/image"/>
	</node>

	<node pkg="image_view" type="image_view" name="Pioneer3DX_depth_image">
	  <remap from="image" to="/camera/depth/image"/>
	</node>

</launch>
