<launch>

	<!-- Vision Processing -->
	<include file="$(find ime_vision)/launch/ime_vision.launch" />

	<!-- Teleop Node JOY -->
	<include file="$(find ime_teleop_control)/launch/ime_joy_teleop.launch" />
	
	<!-- Teleop Node KEYBOARD -->
	<!-- <include file="$(find ime_teleop_control)/launch/ime_keyboard_teleop.launch" /> -->
	
</launch>
