<launch>

	<!-- Simulated World -->
	<include file="$(find ime_simulation)/launch/simple_simulation.launch" />

	<!-- Vision Processing -->
	<include file="$(find ime_vision)/launch/simulated_ime_vision.launch" />

	<!-- Teleop Node JOY -->
	<include file="$(find ime_teleop_control)/launch/simulated_ime_joy_teleop.launch" />
	
	<!-- Teleop Node KEYBOARD -->
	<!-- <include file="$(find ime_teleop_control)/launch/simulated_ime_keyboard_teleop.launch" /> -->
	
</launch>
